<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.Pioneer.BostonFireBox</key>
	<dict>
		<key>oneSingle</key>
		<string></string>
		<key>googleAnalytics</key>
		<string></string>
		<key>shareURL</key>
		<string></string>
		<key>websiteURL</key>
		<string></string>
		<key>linkedAppURL</key>
		<string>https://itunes.apple.com/us/app/nycfirebox/id1377737408?mt=8&amp;ign-mpt=uo%3D2</string>
		<key>contactURL</key>
		<string>contact@pioneerapplications.com</string>
		<key>fireboxFilename</key>
		<string>BostonFireBoxes</string>
		<key>baseCoordinates</key>
		<dict>
			<key>latitude</key>
			<real>42.3601</real>
			<key>longitude</key>
			<real>-71.05889999999999</real>
		</dict>
		<key>locations</key>
		<array>
			<dict>
				<key>url</key>
				<string>BostonFirehouseLocations.csv</string>
				<key>name</key>
				<string>Boston</string>
			</dict>
		</array>
		<key>baseURL</key>
		<string>http://pioneerapplications.com/AppResources/firehouses/</string>
	</dict>
	<key>com.Pioneer.NYCFireBox</key>
	<dict>
		<key>oneSignal</key>
		<string>ab30806b-ca26-4abb-908c-3a9b93c7ef2a</string>
		<key>googleAnalytics</key>
		<string>UA-118289028-1</string>
		<key>firedepURL</key>
		<string>http://www.fdnewyork.com/</string>
		<key>linkedAppURL</key>
		<string>https://itunes.apple.com/us/app/mobile-mdt/id1251028336?mt=8</string>
		<key>liveIncidents</key>
		<string>https://itunes.apple.com/us/app/fire-buff/id592485608?mt=8</string>
		<key>shareURL</key>
		<string>https://itunes.apple.com/us/app/nycfirebox/id1377737408?mt=8&amp;ign-mpt=uo%3D2</string>
		<key>websiteURL</key>
		<string>http://pioneerapplications.com?ref=fireboxapp</string>
		<key>contactURL</key>
		<string>contact@pioneerapplications.com</string>
		<key>emsStations</key>
		<dict>
			<key>url</key>
			<string>EMS-Stations.plist</string>
			<key>name</key>
			<string>EMS-Stations</string>
		</dict>
		<key>fireboxFilename</key>
		<string>NYCFireBoxes</string>
		<key>baseURL</key>
		<string>http://pioneerapplications.com/AppResources/firebuff/</string>
		<key>locations</key>
		<array>
			<dict>
				<key>url</key>
				<string>Brooklyn.plist</string>
				<key>name</key>
				<string>Brooklyn</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Manhattan</string>
				<key>url</key>
				<string>Manhattan.plist</string>
			</dict>
			<dict>
				<key>url</key>
				<string>Queens.plist</string>
				<key>name</key>
				<string>Queens</string>
			</dict>
			<dict>
				<key>url</key>
				<string>StatenIsland.plist</string>
				<key>name</key>
				<string>Staten Island</string>
			</dict>
			<dict>
				<key>url</key>
				<string>Bronx.plist</string>
				<key>name</key>
				<string>Bronx</string>
			</dict>
		</array>
		<key>baseCoordinates</key>
		<dict>
			<key>latitude</key>
			<real>40.7128</real>
			<key>longitude</key>
			<real>-74.006</real>
		</dict>
	</dict>
</dict>
</plist>
